html body {
        font-size: 5vh;
    }

    nav {
        flex-direction: column;
        display: none;
        right: 2vw;
        top: 2vh;
        width: 12ch;
        align-items: center;
    }

    #menu {
        display: block;
    }

    .menu-show {
        display: flex;
    }

    main, .teaser {
        flex-direction: column;
    }
