* {
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 50vmin;
    height: 50vmin;
    position: relative;
    perspective: 100vmin;
    top: 25vmin;
    left: 50%;
    transform: translateX(-50%);
}

#cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: cube-spin 15s infinite;
    animation-play-state: running;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 5px solid black;
    color: rgba(255, 255, 255, 0.8);
    font-size: 50vmin;
    text-align: center;
    line-height: 50vmin;
}

#front {
    transform: rotateY(0deg) translateZ(25vmin);
    background-color: rgba(255, 0, 0, 0.8);
}

#back {
    transform: rotateY(180deg) translateZ(25vmin);
    background-color: rgba(0, 255, 0, 0.8);
}

#right {
    transform: rotateY(90deg) translateZ(25vmin);
    background-color: rgba(0, 0, 255, 0.8);
}

#left {
    transform: rotateY(-90deg) translateZ(25vmin);
    background-color: rgba(255, 0, 255, 0.8);
}

#top {
    transform: rotateX(90deg) translateZ(25vmin);
    background-color: rgba(0, 255, 255, 0.8);
}

#bottom {
    transform: rotateX(-90deg) translateZ(25vmin);
    background-color: rgba(255, 255, 0, 0.8);
}

@keyframes cube-spin {
    0% { /* 0 sec */
        transform: rotateY(0deg);
    }
    3.33% {/* .5 sec */
        transform: rotateY(90deg);
    }
    16.66% { /* 2.5 sec */
        transform: rotateY(90deg);
    }
    20% { /* 3.0 sec */
        transform: rotateY(180deg);
    }
    33.34% { /* 5 sec */
        transform: rotateY(180deg);
    }
    36.66% { /* 5.5 sec */
        transform: rotateY(270deg);
    }
    50% { /* 7.5 sec */
        transform: rotateY(270deg);
    }
    53.33% { /* 8.0 sec */
        transform: rotateX(90deg);
    }
    66.66% { /* 10.0 sec */
        transform: rotateX(90deg);
    }
    70% { /* 10.5 sec */
        transform: rotateX(-90deg);
    }
    83.33% {/* 12.5 sec */
        transform: rotateX(-90deg);
    }
    86.66% { /* 13 sec */
        transform: rotateY(0deg);
    }
    100% { /* 15 sec */
        transform: rotateY(0deg);
    }
}
