html, body {
    font-size: 1vh;
}

header {
    font-size: 1.5vh;
    line-height: 2vh;
}

nav {
    bottom: 2.5%;
}

#main {
    background-image: url(../images/kitten-v.jpg);
    background-size: cover;
}

#schedule {
    width: 30%;
}

#contact {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}