body {
    font-family: Montserrat, Helvetica, sans-serif;
    margin: 0;
    font-size: large;
}

.navbar {
    overflow: hidden;
    background-color: #000;
}

.navbar a {
    float: left;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 1em;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    background-color: #000;
    text-decoration: none;
    padding: 1em;
    display: block;
    text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #000;
    background-color: #ff9999;
}

.dropdown-content a:hover {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center top;
}

.welcome {
    position: absolute;
    text-align: left;
    padding: 10px 15px;
    border: 1px solid transparent;
    top: 20%;
    left: 60%;
    max-width: 25%;
    background: #ff9999;
    box-shadow: 10px 10px 5px #404040;
}

.welcome h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 3em;
    line-height: 1em;
}

footer {
    background-color: #000;
    bottom: 0;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 0.75em;
}

.about {
    margin: 5em;
    text-align: left;
}

#bio img {
    height: 290px;
    float: left;
    padding: 15px;
}

#bookrecs {
    margin-left: 10%;
}

.flip-card {
    background-color: transparent;
    width: 500px;
    height: 500px;
    border: 1px solid transparent;
    perspective: 1000px;
}

.card-img {
    height: 500px;
    width: 500px;
    object-fit: cover;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform .8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-text {
    position: absolute;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-front {
    color: white;
}

.card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
}

